
<div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3 text-center">
      <img src="assets/png/logo.png" class="w-50 img-fluid" style="max-height: 100%;" >

          <form class="form-signin" autocomplete="off" (ngSubmit)="recovery()">
              <h1 class="h3 mb-3 font-weight-normal text-light">Recuperar Clave</h1>
              <small class="text-light">Se le enviara un correo con su nueva clave.</small>
              <div class="input-group mb-1">
                <input type="text" class="form-control gallo-inputs" name="username" required [(ngModel)]="data.username"
                ngModel #username="ngModel" placeholder="Correo / Usuario">
              </div>

              <!-- Remember me and forgot pass area -->
              <div class="mb-3 row mt-3 text-light">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1 text-left">

                    <a class="c-celeste-bishound" (click)="mostrar('login')">Entrar</a>
                </div>
              </div>
              <!-- Fin Remember me and forgot pass area -->
              <button class="btn btn-lg btn-primary btn-block gallo-btn" type="submit"><i class="fa fa-sign-in"></i> Enviar</button>
            </form>

      </div>
    </div>

  </div>


  <!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
  <!-- Fin Notificaciones -->

