.gallo-inputs{
  padding-left: 2rem;
  background-color: rgba(0,0,0,0);
  border: 0;
  background-image: url(./../../../assets/png/input_D.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100% 95%;
  color: rgb(255,0,34);
}

.gallo-num{
  padding-left: 2rem;
  background-color: rgba(0,0,0,0);
  border: 0;
  background-image: url(./../../../assets/png/input_D.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100% 95%;
  color: rgb(255,0,34);
}

.gallo-selects{
  background-color: rgba(0,0,0,0);
  border: 0;
  background-image: url(./../../../assets/png/input_D.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-size: 105% 100%;
  color: rgb(255,0,34);
}

.gallo-password{
  padding-left: 2rem;
  background-color: rgba(0,0,0,0);
  border: 0;
  background-image: url(./../../../assets/png/input_P.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-size: 100% auto;
  color: #ffffff;
}
.gallo-inputs::placeholder,.gallo-num::placeholder{
  color: rgb(255,0,34);
}
.gallo-password::placeholder{
  color: #ffffff;
}
.gallo-btn{
  padding-left: 2rem;
  background-color: rgba(0,0,0,0);
  border: 0;
  background-image: url(./../../../assets/png/boton.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: #ffffff;
}
.row3{
  margin-right: -15px!important;
  margin-left: -15px!important;
}
.row2{
display: flex;
  flex-wrap: wrap;
  margin-right: -15px!important;
  margin-left: -15px!important;
}
@media only screen and (min-width: 1000px) {
  .gallo-inputs{
    padding-left: 3rem;
  }
  .gallo-password{
    padding-left: 3rem;

  }
  #logoRegistro{
    height: 147px;
    width: 161px;
  }
  #register-formRow{
    width: 575px;
    height: 436px;
  }

}
.row2{
  display: flex;
    flex-wrap: wrap;
    margin-right: -15px!important;
    margin-left: -15px!important;
}
@media only screen and (max-width: 1000px) {

  .gallo-selects{
    font-size: 0.8em;
    padding-left: 0.5rem;
  }
.logo{
  width: 345px;
  height: 315px!important;
  min-height: auto!important;
}
.row3{
  margin-right: -15px!important;
  margin-left: -15px!important;
}
.row2{
display: flex;
  flex-wrap: wrap;
  margin-right: -15px!important;
  margin-left: -15px!important;
}
#registroTitle{
  width: 50%;
}

.gallo-password{
  padding-left: 2rem;
  background-color: rgba(0,0,0,0);
  border: 0;
  background-image: url(./../../../assets/png/input_P.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-size: 100% auto;
  color: #ffffff;
}

}
