
<div class="row contan" *ngIf="SelectedData">

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1 my-auto" [class.mtl-5]="explorer">
    <div class="gallo-vercent">
    <div class="px-5 w-100 text-center form">
      <img src="assets/png/logo.png" [class.wl-5]="explorer" [class.w-100]="explorer" [class.w-50]="!explorer" class=" img-fluid" style="max-height: 100%;" >
      
      <div class="form-group d-flex w-100">
        <ng2-completer (click)="reactivar('1')" textSearching="Buscando..." textNoResults="No existe esa Canción" (selected)="eliminar(cancion1,'1')" inputId="cancionInput1" [disableInput]="openOnClick2" [selectOnClick]="openOnClick"  [openOnFocus]="openOnClick" [(ngModel)]="cancion1" placeholder="Selecciona la canción" class="gallo-inputs mx-auto" [datasource]="dataService" [minSearchLength]="1"></ng2-completer>
        <!-- <input type="text" class="gallo-inputs mx-auto" id="" placeholder="Input field"> -->
      </div>
      <div class="form-group d-flex w-100">
        <ng2-completer (click)="reactivar('2')" textSearching="Buscando..." textNoResults="No existe esa Canción" (selected)="eliminar(cancion2,'2')" inputId="cancionInput2" [disableInput]="openOnClick2" [selectOnClick]="openOnClick"  [openOnFocus]="openOnClick" [(ngModel)]="cancion2" placeholder="Selecciona la canción" class="gallo-inputs mx-auto" [datasource]="dataSource1" [minSearchLength]="1"></ng2-completer>
        <!-- <input type="text" class="gallo-inputs mx-auto" id="" placeholder="Input field"> -->
      </div>

      <div class="my-2 d-flex w-100">
          <button class="btn btn-lg btn-primary btn-block gallo-btn m-auto hoverClick" type="button" (click)="navegar('../../bandas')" >Atrás</button>
        <button class="btn btn-lg btn-primary btn-block gallo-btn m-auto" id="btnVotar" [disabled]="(cancion1=='' || cancion2=='') " type="button" (click)="cargarAreas(1);">Votar</button>
    </div>
  </div>
</div>





  </div>

  <img src="{{SelectedData.foto1}}" style="margin-top: 3%;width: 45%;max-height:100%;" class="img-fluid ml-auto artista">
  <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 d-flex img_banda">
      <img src="{{SelectedData.foto1}}" style="width:50%;max-height:100%;" class="img-fluid ml-auto"><br>

  </div> -->
  <h5 class="text-light w-75 text-right title-banda mt-3">{{SelectedData.nombre}}
      <a href="{{SelectedData.social.spotyfy}}" class="hoverClick ml-3" target="_blank">
      <img src="assets/png/logo-spotify.png"  class=" spotyfy" style="max-height: 100%;" >
    </a>
  </h5>
<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 py-3 albunes">
  <owl-carousel *ngIf="Table" style="width: 100%;height:auto;" [options]="mySlideOptions"  [carouselClasses]="['owl-theme', 'sliding']" >
    <li *ngFor="let data of Table"  style="padding-right:1rem;padding-left:1rem;list-style: none;cursor:pointer;text-align: center;display:flex;" (click)="navegar('votar/'+data.id,data.id)">
        <img class="logo" style="width: 200px; height:200px;margin:auto;" src="{{data.bandas.logo}}">
    </li>
  </owl-carousel>
</div> -->



</div>

<div class="modal fade " id="graciasModal">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body body-interno-new">
                <div class="d-flex w-100">
                    <div class="w-50 d-flex">

                        <img src="assets/png/logo.png" class="m-auto" style="max-width: 100%; width: 50vw;">
                    </div>
                    <div class="w-50 d-flex" id="graciasTexto" >
                      <img src="assets/png/gracias.png" class="m-auto" style="width:100%;max-height: 100%;" [class.he-100]="explorer">
                    </div>
                </div>
                <div class="w-100 d-flex">
                  <button class="btn btn-lg btn-primary btn-block gallo-btn m-auto hoverClick" type="button" (click)="navegar('../../bandas')" >Atrás</button>
                </div>

            </div>


      </div>
    </div>
  </div>
