/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}
html,
.body {
  width: 100% !important;
  height: auto !important;
  font-size: 1rem;
  text-align: left;
  background-attachment: fixed;
  background-image: url(./assets/png/fondo.png) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html, body {
  background-color: #ffffff !important;
}
.hoverclick img:hover{

  filter: contrast(115%);
  filter: brightness(95%);
  filter: sepia(100%);
  /* box-shadow:#000000 5px 15px 20px 0px; */
}
.header{
  text-align: center;
  width: 100%;
  height: 5rem;
  background-size: 100% 100%;

}
.header > .logo{
  height: 80%;
}
.header > .cover{
  position: absolute;
  z-index: 1;
}
.cuerpo{
  text-align: center;
  width: 100%;
  height: auto;
}

.shadow-input{
  box-shadow: 0 1px 5px rgba(27,31,35,0.15) !important;
  border: 0px;
  font-size: 12pt;
}
.c-celeste-bishound{
  cursor: pointer;
}

.body-interno {
  width: 100% !important;
  height: 100% !important;
  font-size: 1rem;
  text-align: left;
  background-attachment: fixed;
  background-image: url(./assets/png/fondo-canciones.png) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body-interno-new{
  width: 100% !important;
  height: 100% !important;
  font-size: 1rem;
  text-align: left;
  background-image: url(./assets/png/background-login.png) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img_banda{
  flex: 0 0 58.33% !important;
  max-width: 100% !important;
  width: 100% !important;
}
/*code antony*/
.row{
  margin: 0 !important;
}
@media only screen and (max-width: 1000px){
  .body-interno{
    background-image: url(./assets/png/fondo-mobile.png) !important;
    background-position: right;
      background-size: cover;
    }
  .body-interno-new{
    background-image: url(./assets/png/background-login-mb.png) !important;
  }

  .body,body{
  background-image: url(./assets/png/fondo-mobile.png) !important;

  }
  .img_banda {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important;
    height: 100vh;
    padding-right: 0 !important;
  }
  .img_banda img{
    width: 50% !important;
  }
  .row{
    margin: 0 !important;
  }
  .body-interno{
    height: inherit !important;
  }
}
